<!-- {% extends "home.html" %} -->
{% block body %}
      <div class="container-fluid"">
         <h5>
         ADD TEAM
         <h5>
         <form method="POST" enctype="multipart/form-data" class="fill-up" action="{% url 'team_add' %}">{% csrf_token %}
             <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <a href="{% url 'team_list'%}" class="btn btn-default">Cancel</a>
    </form>
         
      </div>

{%endblock%}


